[submodule "src/Engine/Dependencies/freetype"]
	path = src/Engine/Dependencies/freetype
	url = https://github.com/freetype/freetype.git
[submodule "src/Engine/Dependencies/imgui"]
	path = src/Engine/Dependencies/imgui
	url = https://github.com/ujrapul/imgui.git
	update = merge
